<main class="profile">
  <section class="headlines">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </section>
  <p class="profile_status"><%= @user.type %></p>
  <section class="profile_photo">
    <img class="user_logo" src= <%= asset_pack_path 'media/images/photo.svg' %> />
  </section>
  <section class="social_networks">
    <a class="social_links" href="#">
      <img class="social_links_img" src= <%= asset_pack_path 'media/images/Skype.svg' %> />
    </a>
    <a class="social_links" href="#">
      <img class="social_links_img" src= <%= asset_pack_path 'media/images/WhatsApp.svg' %> />
    </a>
  <a class="social_links" href="#">
    <img class="social_links_img" src= <%= asset_pack_path 'media/images/Facebook.svg' %> />
  </a>
  <a class="social_links" href="#">
    <img class="social_links_img" src= <%= asset_pack_path 'media/images/Google.svg' %> />
  </a>
  </section>
  <section class="main_information">
    <table class="information">
    <thead>
      <tr>
      <th class="space_for_tittle" colspan="2">
        <span class="tittle_table"> Information </span>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr>
      <th>Name:</th>
      <th><%= @user.first_name %></th>
    </tr>
    <tr>
      <th>Last name:</th>
      <th><%= @user.last_name %></th>
    </tr>
    <tr>
      <th>Username:</th>
      <th><%= @user.user_name %></th>
    </tr>
    <tr>
      <th>Age:</th>
      <th><%= @user.age %></th>
    </tr>
    <tr>
      <th>Email:</th>
      <th><%= @user.email %></th>
    </tr>
    <tr>
      <th>Address:</th>
      <th><%= @user.address %></th>
    </tr>
    <tr>
      <th>Zip Code:</th>
      <th><%= @user.zip_code %></th>
    </tr>
    <tr>
      <th>School:</th>
      <th><%= @user.school %></th>
    </tr>
      <tr>
      <th>Major:</th>
      <th><%= @user.major %></th>
    </tr>
    </tbody>
  </table>
  </section>
</main>
<% if current_user.tutor? && current_user.id == @user.id %>
  <% if @offers.any? %>
  <section class="headlines headlines--your_offers">
    <h1>Your offers</h1>
  </section>
  <table class="list" cellspaceing="0">
    <thead class="head_list">
      <tr>
        <th class="column">Help request</th>
        <th class="column">Email</th>
        <th class="column">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr class="row">
          <td class="column last">
            <%= link_to offer.help_request.description, offer.help_request %>
          </td>
          <td class="column">
            <% if offer.accepted? %>
              <%= link_to offer.help_request.student.email, account_path(id: offer.help_request.student_id) %>
            <% else %>
              <%= offer.help_request.student.email %>
            <% end %>
          </td>
          <td class="column offer_state">
            <%= offer.state.capitalize %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <section class="headlines headlines--your_offers">
      <h1>You don't have offers yet</h1>
    </section>
  <% end %>

  <% if @help_requests.any? %>
    <section class="headlines headlines--your_offers">
      <h1>Your help requests</h1>
    </section>
    <table class="list" cellspaceing="0">
      <thead class="head_list">
        <tr>
          <th class="column">Description</th>
          <th class="column">Email</th>
          <th class="column">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @help_requests.each do |help_request| %>
          <tr class="row">
            <td class="column last">
              <%= link_to help_request.description, help_request %>
            </td>
            <td class="column">
              <%= link_to help_request.student.email, account_path(id: help_request.student_id) %>
            </td>
            <td class="column offer_state <%= red_if_request_finished(help_request.state) %>">
              <%= help_request.state.capitalize.tr('_', ' ') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <section class="headlines headlines--your_offers">
      <h1>You don't have help requests yet</h1>
    </section>
  <% end %>
<% end %>
